.roll {
  border: none;
  height: 50px;
  width: 400px;
  overflow-y: auto;
  word-wrap: break-word /* Add the ability to scroll */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.roll::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
.roll {
    -ms-overflow-style: none;
}

.display {
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}